=f.text_field :email, :value => @email, :type=>"email", :class=>"form-control", :placeholder=>"Email address", :required => ""
=f.password_field :password, :class=>"form-control",:placeholder=>"Password", :required => ""
%label{:class=>"checkbox"}
  %input{:type=>"checkbox", :name=>"keep-alive"} Remember me
