
%div#add_trans
  / Nav tabs
  %ul{:class=>"nav nav-tabs"}
    %li{:class=>"active"}
      %a{ :href => '#tab-expenses', :data=>{:toggle=>"tab"} } Expenses
    %li
      %a{ :href => '#tab-income', :data=>{:toggle=>"tab"} } Income
  %div.tab-content
    %div{:id=>"tab-expenses",:class=>"tab-pane fade in panel panel-default active"}
      %div{:class=>"panel-body"}
        =form_for @new_transaction, :html=>{:class=>"form-inline", :role=>"form"}, :as => :tran, :url => trans_path, :validate => true do |f|    
          =render :partial => 'trans/form', :locals => { :f => f, :trans => Transaction.new, :op => '-' }
          %div.form-group
            %input{ :type => 'submit', :value => 'Submit', :class => 'btn' }
    %div#tab-income{:class=>"tab-pane fade panel panel-default"}
      %div{:class=>"panel-body"}
        =form_for @new_transaction, :html=>{:class=>"form-inline", :role=>"form"}, :as => :tran, :url => trans_path, :validate => true do |f|
          =render :partial => 'trans/form', :locals => { :f => f, :trans => Transaction.new, :op => '+' }
          %div.form-group
            %input{ :type => 'submit', :value => 'Submit', :class => 'btn' }
      