%h4 Dashboard
-@accounts.each do |a|
  %table#accounts{:class=>"table"}
    %thead
      %tr
        %th{ :colspan => 2, :style=> 'width:70%;' }
          =a.name
          =" (#{a.currency} #{account_type_display_name(a._type)})"
        %th{ :style=> 'width:15%;' }
          =("Initial balance <br />" + currencify(a.initial_balance)).html_safe
        %th{ :style=> 'width:15%;' }
    %tbody
      -a.transactions.sort(:created_at.desc).each do |t|
        %tr
          %td{:class=>"created_at"}=t.created_at
          %td=t.description
          %td.currency=currencify(t.amount, :show_operator => 1)
          %td.func{ :style => 'text-align: center;' }
            %button{:type=>"button",:class=>"btn btn-xs btn-default",:data=>{:js=>"modal-edit-transaction",:url=>"#{edit_tran_path(t._id)}",:target=>"#edit-trans",:id=>t._id}} edit
            =link_to 'delete', tran_path(t.id), {:class=>"btn btn-xs btn-danger", :confirm=>'Are you sure?', :method=>:delete}
    %tfoot
      %tr
        %td
        %td{ :style => 'text-align:right;' } Current balance: 
        %td
          =currencify(a.current_balance)
        %td

%div{:id=>"edit-trans",:class=>"modal fade",:tabindex=>"-1",:role=>"dialog",:aria=>{:labelledby=>"modal-title",:hidden=>"true"}}
  %div{:class=>"modal-dialog"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-header"}
        %button{:type=>"button",:class=>"close",:data=>{:dismiss=>"modal"}} x
        %h4{:class=>"modal-title",:id=>"modal-title"} Edit transaction
      %div{:class=>"modal-body"}

-content_for :js do
  :coffee
    $(document).ready ->
      $('#edit-trans, #add-trans').on 'shown.bs.modal', (e) ->
        $('.txt-amount').focus(->
          $(this).select()
        ).mouseup (e) ->
          e.preventDefault()

        $('.txt-amount', $('div.tab-pane.fade.active')).focus()
