%h3 Thank you for registration!
%p 
  An email is sent to your email address: 
  %span{ :class => 'email' }
    =@user.email
  ,please follow the instruction in the email to activate your account.
  %br
  If you are having problem activating your account, please 
  %a{ :href=> '#'} request another email