
= content_for :css do
  = stylesheet_link_tag "login", :media => "all"

=form_for 'user', :html => {:role=>"form", :class=>"form-signin" }, :url => user_login_path, :validation => true do |f|
  %h3{:class=>"form-signin-heading"} Login
  =render 'login', :f => f
  %div{:class=>"col-sm-offset-2 col-sm-10"}
    or 
    =link_to 'register', user_register_path
    account for yourself.
  %input{ :type => 'submit', :class => 'btn btn-lg btn-primary btn-block', :value => 'login' }
  
  