
%h3=@user.email
%p
  =form_tag 'update_profile', :method => :put do |f|
    %span{ :id => 'email' }
      %label
        =@user.email
      =text_field_tag 'email', @user.email, { :class => 'text_field hidden' }
      %a{ :href => '#', :id => 'edit_email' } edit
      %a{ :href => '#', :id => 'done_edit_email' } done

=form_tag 'change_pwd', :method => :put do |f|
  %fieldset
    %legend Change password
    %dl
      %dt
        %label Existing Pwd: 
      %dd=password_field_tag 'old_password'
    %dl
      %dt
        %label New Password: 
      %dd=password_field_tag 'new_password'
    %dl
      %dt
        %label Confirm:
      %dd=password_field_tag 'confirm_password'
    %input{ :type => 'submit', :class => 'submit', :value => 'change password' } 