-content_for :css do
  %style{:type=>"text/css"}


%h3 Register an account

=form_for @user, :url => user_register_path, :validate => true, :html=>{:class=>"col-sm-6",:role=>"form"} do |f|
  %div.form-group
    =f.label :eamil, 'Email'
    =f.text_field :email, :value => @user.email, :class=>"form-control", :placeholder=>"Email"
  %div.form-group
    =f.label :password, 'Password'
    =f.password_field :password, :value => @user.password, :class=>"form-control", :placeholder=>"Password"
  %div.form-group
    =f.password_field :password_confirmation, :class=>"form-control", :placeholder=>"Confirm password"
  %div.form-group
    %input{ :type => 'submit', :value => 'Register', :class => 'btn btn-primary' }

  %p
    please
    =link_to 'login', user_login_path
    if you are already member of us