/*-----------------------------------------Starts my own def-------------------------------------------------*/

body { 
  font: 12px/12px "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  color: $font_color1;
  background:#fff;
  margin: 0 auto;
  padding: 0 auto;
  width: auto; min-width: 1100px;
  height: 100%; 
  background-image: asset-data-url('noise_background.jpg');
}

H1{ line-height: 1.7em; font-weight: bolder; color: $font_color1; }
H3{ line-height: 1.6em; font-weight: bold; color: $font_color1; }

a{ color: $font_color0; }
a:hover{ color: $font_color_hightlight; }

fieldset {
  background:#f2f2e6;
  padding:10px;
  margin: 20px auto 36px 0px;
  width: 600px;
  @include border-radius(6px);

  padding: 5px;
}

fieldset.action { background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px; }
legend { padding: 8px 20px 8px 20px; margin: 20px; line-height: 2em; font-size: 110%; }
label { font-size:1.1em; font-weight:bold; color:#333;  }
label.opt { font-weight:normal; }
dl { clear: both; }
dt { float: left; text-align: right; width: 90px; line-height: 25px; margin: 0 10px 10px 0; }
dd { float: left; width: 475px; line-height: 25px; margin: 0 0 10px 0; }

/* Textbox related styles */
input[type='text'], input[type='password'], select{
  background-color: #fafafa;
  border: 1px solid #aeb3b8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, .33), 0 1px 3px rgba(0, 0, 0, .1) inset;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, .33), 0 1px 3px rgba(0, 0, 0, .1) inset; 
  color: #222;
  padding: 8px 8px 8px 8px;
  outline: none;
}

select{
  padding: 7px;
}


/* Some weak styles that won't interfear with jquery-ui stylling */
table{
  width: 100%;
  thead{
    th { padding: 4px; text-align: left; }
  }
  td{ padding: 3px; }
  
  /* Customized class styles */
  .func{ width: 1%; text-align: left; white-space: nowrap; }
  .created_at{ width: 1%; text-align: center; white-space: nowrap; }
}

/*-----------------------------------------By ID we are doing styles-----------------------------------------*/
#footer  { font-size:11px; }
#content { margin: 0 auto; }


/*-----------------------------------------By class we are doing styles--------------------------------------*/
/* Give a span of empty row in bottom of div layers */
.clear{ clear:both; }

.notify { padding: 3px; }
.error { color: Red; background-color: #F0D8D8; }
.notice{ color: #336699; background-color: #F0EDD8; }
.error{ color: red; }
.hidden{ display: none;}
.datetime{
  .weekday{
    font-size: 80%; font-weight: bold;
  }
}

/** User input forms **/
.row{
  label{
    width: 4em;
    float: left;
    text-align: right; 
    margin-right: 0.5em;
    display: block
  }
  input { margin-left: 4.5em; }
}

/** validations **/
.field_with_errors{
  select, input, textarea { outline: medium none; color: red; }
  label{ color: red; }
  .message{ margin-left: 3px; }
}


/* Color schemes */
.currency_positive{ color: #048A04; }
.currency_negative{ color: #8A0904; }

/*** General page settings ***/
#top-function{
  background-color: #d3e3f1;
  display: block;
  font-size: 12px;
  height: 54px;
  padding: 5px;
  border-bottom: 1px solid gray;
  
  ul{
    li{ list-style: none; }
    li a{ 
      color: #fff;
      text-decoration: none;
      display: block; 
      float: left; 
      margin: 29px 5px 0px 10px;
      padding: 9px; 
      background-color: #336699;
      border-bottom: none;
    }
    li a:hover{
      background-color: #042847;
    }
  }
  .user{
    float: right;
  }
}

/*-- Page layout settings --*/

#page_wrapper{
  #left-panel{
    float: left;
    width: 15%; min-width: 200px;
    display: block;
    margin: 0px;
    background-image: asset-data-url('lpanel_shadow.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    
    ul{
      margin: 20px auto auto 15px;
      li{
        display: block;
        margin: 10px auto;
        height: 45px;
        list-style: none;
      }
      li a{
        display: table-cell; vertical-align: middle;
        height: 45px; width: 170px;
        margin: 17px auto;
        padding-left: 36px;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: bold;
        color: $font_color1;
      }
      
      li a.current{ color: #35342D; text-decoration: underline; border-bottom: 1px dashed $font_color1; }
      
      li a.dashboard{
        background-image: asset-data-url('l_dashboard-o.png');
        background-repeat: no-repeat;
        background-position: left center;
        &:hover{ background-image: asset-data-url('l_dashboard-n.png'); }
      }
      
      li a.account_summary{
        background-image: asset-data-url('l_account_summary-o.png');
        background-repeat: no-repeat;
        background-position: left center;
        &:hover{ background-image: asset-data-url('l_account_summary-n.png'); }
      }
      
      li a.calendar{
        
      }
      
    }
  }
  
  #content{
    width: 80%; 
    float: left;
    display: block;
    padding: 20px 10px 10px 15px;
  } 
}