
/*-----------------------------------------Mixins and variables----------------------------------------------*/

@mixin border-radius($dist){
  /* We are turning it off for now --
  -webkit-border-radius: $dist;
  -moz-border-radius: $dist;
  -o-border-radius: $dist;
  border-radius: $dist;            */
  border: 1px solid #ccc;
  padding: 3px;
}

$font_color0: #262522; /*--Dark---*/
$font_color1: #666459;
$font_color2: #bdbaad; 
$font_color3: #e2e1db; 
$font_color4: #ffffff; /*--Light--*/

$font_color_hightlight: #1c3484;