/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "bootstrap"
 *= require "bootstrap-glyphicons/bootstrap.icon-large"
 * require_tree .
 */

@import "_common.scss";


.user{ color: #fff; padding-top: 25px; }
.table{
  td{ padding: 3px !important; }
}



/* Modify bootstrap 3 dropdown-menu on nav to allow sub-menu. */
.dropdown-submenu{
  position:relative;
  .dropdown-menu{
    top:0;left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;}
  &:hover{
    .dropdown-menu{ display:block; }
    a:after{
      border-left-color:#ffffff;
    }
  }
  a:after{
    display:block;
    content:" ";
    float:right;
    width:0;height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;margin-right:-10px;
  }
  .pull-left{float:none;}
  .dropdown-submenu.pull-left{
    .dropdown-menu{
      left:-100%;
      margin-left:10px;
      -webkit-border-radius:6px 0 6px 6px;
      -moz-border-radius:6px 0 6px 6px;
      border-radius:6px 0 6px 6px;
    }
  }
}



