// Place all the styles related to the trans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//=require "bootstrap-calendar/calendar"

// #events-modal{
//    .modal-body {
//     position: relative;
//     overflow-y: auto;
//     max-height: 400px;
//     height: 500px;
//     padding: 15px;
//   }
// }

