
%div.form-group
  =f.label :amount, 'Amount', {:class=>"sr-only"}
  =h_action_dispatcher('edit') { h_trans_op_dropdown(trans.amount, {:class=>"form-control"}).html_safe }
  =h_action_dispatcher('new') { hidden_field_tag(:operation, op) }
%div.form-group
  =f.text_field :amount, {:class=>"form-control txt-amount", :size => '15', :value => trans.amount.nil? ? 0 : trans.amount.abs }
%div.form-group
  =h_account_selection(@accounts, {:class=>"form-control"})
%div.form-group
  =f.label :name, 'Description', {:class=>"sr-only"}
  =f.text_field :description, {:class=>"form-control", :placeholder=>"Description"}

=hidden_field_tag :operation, op