
%h3 Calendar
        
/ -content_for :css do
/   =stylesheet_link_tag    "bootstrap-calendar/calendar"

%div{:id=>"calendar",:data=>{:event=>{:url=>"#{url_for calendar_events_trans_path}"}}}

%div{:id=>"events-modal",:class=>"modal fade",:role=>"dialog",:tabindex=>"-1",:aria=>{:labelledby=>"modal-label",:hidden=>"true"}}
  %div{:class=>"modal-dialog"}
    %div{:class=>"modal-content"}
      %div{:class=>"modal-body"}
      %div{:class=>"modal-footer"}
        %button{:type=>"button",:class=>"btn btn-default",:data=>{:dismiss=>"modal"}} close


%div#add_transaction{:style=>'display:absolute; top: 100px; left: 20px;'}
  =render 'user/new_transaction', :new_transaction => @new_transaction
