=form_for @trans, :as => :tran, :url => tran_path, :validate => true, :html => {:role=>"form", :class=>"form-inline" } do |f|
  =render :partial => 'form', :locals => {:f => f, :trans => @trans, :op => ( (@trans.amount >= 0) ? '+' : '-' ) }
  %div{:class=>"form-group"}
    %input{ :type=>'submit', :value=>'submit', :class => 'btn' }
  %input{:type=>"hidden",:name=>""}