
%h3 Transactions
%h5
  Showing recent 
  %strong.dayrange=@days
  days of transactions
  of Total expenses/income: 
  %strong=currencify(@total_expenses)

%table.table
  %thead
    %tr
      %th Time
      %th Description
      %th Amount
      %th Account
      %th
    -@trans.each do |key, val|
      %tr
        %td.day_column{:rowspan=>val.count+1}=datefy(val.first.created_at)
      -val.each do |v|
        %tr
          %td=v.description
          %td=currencify(v.amount)
          %td=v.account.name
          %td.func
            =link_to 'edit', edit_tran_path(v._id)
            =link_to 'delete', tran_path(v.id), :confirm => 'Are you sure?', :method => :delete
  / -@trans.group_by{|gg| gg.created_at.day }.each do |key,val|
  /   %tr
  /     %td.day_column{:rowspan=>val.count+1}=datefy(val.first.created_at)
  /   -val.each do |v|
  /     %tr
  /       %td=v.description
  /       %td=currencify(v.amount)
  /       %td=v.account.name
  /       %td.func
  /         =link_to 'edit', edit_tran_path(v._id)
  /         =link_to 'delete', tran_path(v.id), :confirm => 'Are you sure?', :method => :delete
%div
  %div=link_to "see more &raquo;".html_safe, trans_path(:days => @days+@default_days)