
%ul{:id=>"operation_tabs",:class=>"nav nav-tabs"}
  %li
    %a{ :href => '#tab-expenses',:data=>{:toggle=>"tab"} } Expenses
  %li
    %a{ :href => '#tab-income',:data=>{:toggle=>"tab"} } Income
%div{:class=>"tab-content"}
  %div{:id=>"tab-expenses",:class=>"tab-pane fade in active"}
    =form_for @new_transaction, :as => :tran, :url => trans_path, :validate => true, :html=>{:id=>"new-expense", :class=>"form-inline"} do |f|
      %br/
      =render :partial => 'trans/form', :locals => { :f => f, :trans => Transaction.new, :op => '-' }
      %div{:class=>"form-group"}
        %input{ :type => 'submit', :value =>'Submit', :class=>'btn btn-default' }
  %div{:id=>"tab-income",:class=>"tab-pane fade"}
    =form_for @new_transaction, :as => :tran, :url => trans_path, :validate => true, :html=>{:id=>"new-income", :class=>"form-inline"} do |f|
      %br/
      =render :partial => 'trans/form', :locals => { :f => f, :trans => Transaction.new, :op => '+' }
      %div{:class=>"form-group"}
        %input{ :type => 'submit', :value => 'Submit', :class => 'btn btn-default' }

:coffee
  $ ->
    $('#operation_tabs a:first').tab('show')
    
    $("#new-expense, #new-income").submit ->
      valueToSubmit = $(this).serialize()

      $.ajax
        url: $(this).attr("action")
        data: valueToSubmit
        method: "POST"
        dataType: "JSON"
        success: (resp)->
          if(resp.status == "success")
            $("data-js['modal-add-transaction']").modal('hide')
          else
            console.log("popup error")
          console.log(resp)          

      console.log valueToSubmit

      return false