!!! 1.1
%html
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    %title Signin
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    params[:controller]
    = content_for?(:css) ? yield(:css) : ''
    = csrf_meta_tags
  %body
    %div{:class=>"container"}
      -if flash[:error] 
        %div.alert.alert-danger=flash[:error]
      -if flash[:notice]
        %div.alert.alert-warning=flash[:notice]
      
      = yield
    
    = javascript_include_tag "application"
    =# javascript_include_tag "rails.validations"
    =# javascript_include_tag "rails.validations.custom"
    = javascript_include_tag params[:controller]
    = content_for?(:js) ? yield(:js) : ''