%div{:class=>"form-group"}
  =f.label :name, 'Account Name', {:class=>"col-sm-2 control-label"}
  %div{:class=>"col-sm-5"}
    =f.text_field :name, {:class=>"form-control",:placeholder=>"name",:value => @account.name}

%div{:class=>"form-group"}
  =f.label :number, 'Account #', {:class=>"col-sm-2 control-label"}
  %div{:class=>"col-sm-5"}
    =f.text_field :number, {:class=>"form-control",:placeholder=>"name",:value => @account.number}

%div{:class=>"form-group"}
  =f.label :description, 'Description', {:class=>"col-sm-2 control-label"}
  %div{:class=>"col-sm-6"}
    =f.text_field :description, {:class=>"form-control",:placeholder=>"name",:value => @account.description}

%div{:class=>"form-group"}
  =f.label :initial_balance, 'Initial balance', {:class=>"col-sm-2 control-label"}
  %div{:class=>"col-sm-4"}
    =f.text_field :initial_balance, {:class=>"form-control",:placeholder=>"name",:value => @account.initial_balance}

%div{:class=>"form-group"}
  =f.label 'account type', {:class=>"col-sm-2 control-label"}
  %div{:class=>"col-sm-3"}
    =h_account_type_selection(f, @account, {:class=>"form-control"})

%div{:class=>"form-group"}
  =f.label :currency, 'Currency', {:class=>"col-sm-2 control-label"}
  %div{:class=>"col-sm-3"}
    =select(:account, :currency, options_for_select(Settings.currency, @account.currency), {}, :class=>"form-control col-sm-2")
  