%h3 Edit Account

=form_for @account, :as => :account, :url => account_path, :validate => true, :html=>{:class=>"form-horizontal", :role=>"form"} do |f|
  =render 'form', :f => f, :account => @account
  %div{:class=>"form-group"}
    %div{:class=>"col-sm-2"}
    %div{:class=>"col-sm-10"}
      %input{ :type=>'submit', :value=>'submit', :class => 'btn btn-primary' }