
%h3 Account Summary

%table{:class=>"table table-striped table-hover"}
  %thead
    %tr
      %th.name Account name
      %th #
      %th init. balance
      %th Current balance
      %th type
      %th 
  %tbody
  -@accounts.each do |a|
    %tr
      %td.name=a.name
      %td=a.number
      %td.currency
        =currencify(a.initial_balance, :currency_name => a.currency)
      %td.currency
        =currencify(a.current_balance, :currency_name => a.currency)
      %td
        =h_account_type_name_by_index(a._type)
      %td{:class=>"center-block"}
        =link_to 'edit', edit_account_path(a._id), {:class=>"btn btn-default btn-xs"}
        =link_to 'delete', account_path(a._id), {:class=>"btn btn-default btn-xs", :confirm => "Are you sure?", :method => :delete}
        =link_to '+', new_tran_path(:account => a), {:class => 'btn btn-default btn-xs btn-success'}
        =link_to 'transactions', trans_path(:account => a), { :class => 'btn btn-default btn-xs' }
  %tfoot
    %tr
      %td.func
        =link_to 'new account', new_account_path, { :class => 'button' }
      %td
      %td
      %td.currency
        Account balance: 
        =currencify(account_balance_sum(@accounts))
      %td
      %td