%h3 New Account
%p You can create an
=form_for @account, :url => accounts_path, :validate => true, :html=>{:role=>"form",:class=>"form-horizontal"} do |f|
  =render 'form', :f=>f, :account => @account
  %div.form-group
    %div{:class=>"col-sm-2"}
    %div{:class=>"col-sm-10"}
      %input{ :value => 'submit', :type => 'submit', :class => 'btn btn-primary' }
    